variables:
  RemoteUrlB: swr.cn-east-3.myhuaweicloud.com/ssstianmin
  DingToken: 1e336794c4b90331ba4999dc6188fd4820808952d046cd6657f7797ecca54107
  ProjectName: Nocdb-私有版本
stages: # List of stages for jobs, and their order of execution
  - deploy-dev

deploy-dev: # This job runs in the build stage, which runs first.
  stage: deploy-dev
  tags:
    - shared
  variables:
    BaseImage: nocdb
    RemoteUrl: 192.168.10.239:8888/charles0320
    AppRunEnv: dev
    NameSpace: dev
  only:
    - develop
  before_script: [ ]
  script:
    - echo "start Installing dependencies"
    - nvm use 18
    - pnpm bootstrap
    - export NODE_OPTIONS="--max_old_space_size=16384" && cd packages/nc-gui && pnpm run generate
    - rsync -rvzh --delete ./dist/ ../nocodb/docker/nc-gui
    - echo "start Build nocodb, package nocodb-sdk and nc-gui"
    - cd ../nocodb
    - EE=true ../../node_modules/.bin/webpack --config ../../packages/nocodb/webpack.local.config.js
    - echo "start Building docker image"
    - TIMESTAMP=$(date +%Y-%m-%d-%H%M%S) # 使用date命令将时间戳转换为Unix时间戳
    - RemoteImageName="${RemoteUrl}/${BaseImage}:${AppRunEnv}-${TIMESTAMP}"
    - docker build . -f Dockerfile.local -t ${RemoteImageName}
    - docker push "${RemoteImageName}"
    - docker rmi "${RemoteImageName}"
    - noticejob image -e ${AppRunEnv} -v ${TIMESTAMP} -n ${ProjectName} -t ${DingToken} -u "${RemoteImageName}"
